<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar><span class="title-center">Menu</span></mat-toolbar>
    <mat-nav-list>
        <a mat-list-item (click)="addMovie()"><mat-icon matListIcon>add</mat-icon>Add new movie</a>
        <a mat-list-item (click)="fetchNextPage()"><mat-icon matListIcon>history</mat-icon>Fetch more</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Cinema App</span>
    </mat-toolbar>
    <app-movie-cards></app-movie-cards>
  </mat-sidenav-content>
</mat-sidenav-container>
