<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      mode="over">
    <mat-toolbar>Movies Menu</mat-toolbar>
    <mat-nav-list color="primary">
      <a mat-list-item (click)="addMovie()" (click)="drawer.toggle()">Add new movie</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content mode="over">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>cinema-app</span>
    </mat-toolbar>
    <app-movie-list></app-movie-list>
  </mat-sidenav-content>
</mat-sidenav-container>
